<div class="row mt-5 pt-4" style="background-color: rgb(235, 219, 200);">
    <div class="col-lg-6 mt-5 pt-3">
      <div class="container">
        <h3 class="head3">ABOUT US</h3>
        <p class="p2">We specialise in creating beautiful and original cakes, cupcakes, tiered cakes, novelty cakes,
          macarons, and wedding cakes for all occasions, including birthdays, corporate events, and weddings.</p>
        <button type="button" class="btn">READ MORE</button>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="container">
        <img src="{% static 'images/cakly2.jpg' %}" alt="" height="300" width="700"> <br><br>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-5">
      <h3 class="head4">CAKE COLLECTION</h3>
      <div class="row mt-3">
        <div class="col-lg-2" style="text-align: center;">
          <a href="#"><img src="{% static 'images/lemon-raspberry-cake.jpg' %}" alt="" height="200" width="200"> </a>
          <a href="#">Lemon Raspberry Cake</a>
        </div>
        <div class="col-lg-2" style="text-align: center;">
          <a href="#"><img src="{% static 'images/cotton-candy-cake.jpg' %}" alt="" height="200" width="200"> </a>
          <a href="#">Cotton Candy Cakes</a>
        </div>
        <div class="col-lg-2" style="text-align: center;">
          <a href="#"><img src="{% static 'images/chocolate-lovers-cake.jpg' %}" alt="" height="200" width="200"> </a>
          <a href="#">Choclate Lovers Cakes</a>

        </div>
        <div class="col-lg-2" style="text-align: center;">
          <a href="#"><img src="{% static 'images/macaron-crown-cake.jpg' %}" alt="" height="200" width="200"> </a>
          <a href="#">MacronCakes</a>
        </div>
        <div class="col-lg-2" style="text-align: center;">
          <a href="#"><img src="{% static 'images/caramel-crunch-cake.jpg' %}" alt="" height="200" width="200"> </a>
          <a href="#">Cakes</a>
        </div>
        <div class="col-lg-2 mt-5" style="text-align: center;">
          <a href="#">
            <h4 class="see">See <br>more <br>cakes &#8594</h4>
          </a>
        </div>
      </div>
    </div>
  </div>