{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cakely</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
  <div class="row">
    <div class="bg1">
      <div class="container">
        <div class="row mt-3">
          <a href="#">CAKELY</a>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cakes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Weddings & Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Macrons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cupcakes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row mt-4 ">
          <div class="row mt-5 pt-5 1">
            <h1 class="head1">CAKE DELIVERY <br> IN SCAYNES HILL</h1>
            <div class="col-lg-6">
              <p class="p1">Savour the taste of luxury with our delectable cakes in Scaynes Hill. Perfect for any
                occasion, from
                indulgent brownies for your sweet cravings to last-minute, bespoke birthday cakes. Trust us to bring
                sweetness
                to your doorstep, every time.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-5 pt-5">
          <h3 class="head2">OUR SPECIALITIES</h3>
          <div class="row mt-5">
            <div class="col-lg-3"> <a href="#"><img src="{% static 'images/cotton-candy-cake.jpg'%}" alt="" height="200" width="300"> </a>           
              <a href="#">Cakes</a>
            </div>
            <div class="col-lg-3">
              <a href="#"><img src="{% static 'images/wedding-cake.jpg' %}" alt="" height="200" width="300"> </a>
              <a href="#">Wedding & Event</a>
            </div>
            <div class="col-lg-3">
              <a href="#"><img src="{% static 'images/macarons.jpg' %}" alt="" height="200" width="300"> </a>
              <a href="#"> Macrons</a>
            </div>
            <div class="col-lg-3">
              <a href="#"><img src="{% static 'images/cupcakes.jpg' %}" alt="" height="200" width="300"> </a>
              <a href="#">Cupcakes</a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row mt-5 pt-4" style="background-color: rgb(235, 219, 200);">
        <div class="col-lg-6 mt-5 pt-3">
          <div class="container">
            <h3 class="head3">ABOUT US</h3>
            <p class="p2">We specialise in creating beautiful and original cakes, cupcakes, tiered cakes, novelty cakes,
              macarons, and wedding cakes for all occasions, including birthdays, corporate events, and weddings.</p>
            <button type="button" class="btn">READ MORE</button>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="container">
            <img src="{% static 'images/cakly2.jpg' %}" alt="" height="300" width="700"> <br><br>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-5 pt-5">
          <h3 class="head4">CAKE COLLECTION</h3>
          <div class="row mt-3">
            <div class="col-lg-2" style="text-align: center;">
              <a href="#"><img src="{% static 'images/lemon-raspberry-cake.jpg' %}" alt="" height="200" width="200"> </a>
              <a href="#">Lemon Raspberry Cake</a>
            </div>
            <div class="col-lg-2" style="text-align: center;">
              <a href="#"><img src="{% static 'images/cotton-candy-cake.jpg' %}" alt="" height="200" width="200"> </a>
              <a href="#">Cotton Candy Cakes</a>
            </div>
            <div class="col-lg-2" style="text-align: center;">
              <a href="#"><img src="{% static 'images/chocolate-lovers-cake.jpg' %}" alt="" height="200" width="200"> </a>
              <a href="#">Choclate Lovers Cakes</a>

            </div>
            <div class="col-lg-2" style="text-align: center;">
              <a href="#"><img src="{% static 'images/macaron-crown-cake.jpg' %}" alt="" height="200" width="200"> </a>
              <a href="#">MacronCakes</a>
            </div>
            <div class="col-lg-2" style="text-align: center;">
              <a href="#"><img src="{% static 'images/caramel-crunch-cake.jpg' %}" alt="" height="200" width="200"> </a>
              <a href="#">Cakes</a>
            </div>
            <div class="col-lg-2 mt-5" style="text-align: center;">
              <a href="#">
                <h4 class="see">See <br>more <br>cakes &#8594</h4>
              </a>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row mt-5 ">
        <div class="bg2">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="quote-container mt-4">
                  <div class="star-rating">★★★★★</div>
                  <p class="qoutes">“I'm always skeptical about ordering cakes online, but you've changed my mind. The
                    lemon drizzle cake
                    was simply divine-tangy, sweet, and beautifully presented. It was the star of our tea party. Can't
                    wait
                    to order again!”</p>
                  <div class="reviewer-details">
                    <span class="name"> — Sophie, Haywards Heath</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="quote-container mt-4">
                  <div class="star-rating">★★★★★</div>
                  <p class="qoutes">“I ordered a chocolate fudge cake for my wife’s birthday and it was a hit! The cake
                    was rich,
                    moist, and delivered right on time. Everyone asked where it was from. Thank you for making our
                    celebration
                    extra special!”</p>
                  <div class="reviewer-details">
                    <span class="name"> — James, Scaynes Hill</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="quote-container mt-4">
                  <div class="star-rating">★★★★★</div>
                  <p class="qoutes">“As a busy mom, I rarely have time to bake. Your brownies were a lifesaver for my
                    son's school
                    event. They were deliciously gooey and the kids loved them. Thank you for your prompt service and
                    for saving the
                    day!”</p>
                  <div class="reviewer-details">
                    <span class="name">— Emily, Lindfield</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-5 pt-5">
          <div class="col-lg-4">
            <h3 class="head4">ON THE BLOG</h3>
            <p class="p3">Dive into a world of inventive recipes and simple, step-by-step guides to crafting your own
              delightful treats. Your
              feedback and messages are always cherished. Enjoy exploring these delicious creations</p>
            <a href="#">
              <h4 class="see">Read <br>All Post &#8594</h4>
            </a>

          </div>
          <div class="col-lg-2">
            <a href="#"><img src="{% static 'images/chiai-milk-chocolate-chip-cookies.webp' %}" alt="" height="200" width="200">
              Chiai Milk Chocolate Chip Cookies</a>
          </div>
          <div class="col-lg-2">
            <a href="#"><img src="{% static 'images/rolo-chocolate-brownies.webp' %}" alt="" height="200" width="200">
              Rolo Chocolate Brownies</a>
          </div>
          <div class="col-lg-2">
            <a href="#"><img src="{% static 'images/cinnamon-swirl-muffins.webp' %}" alt="" height="200" width="200">
              Cinnamon Swirl Muffins</a>
          </div>
          <div class="col-lg-2">
            <a href="#"><img src="{% static 'images/peppermint-chocolate-slice.webp' %}" alt="" height="200" width="200">
              Peppermint Chocolate Slice</a>
          </div>
        </div>
      </div> <br><br>
      <hr>
      <div class="container">
        <div class="row mt-5 pt-3">
          <h3 class="head5">FOLLOW US ON INSTAGRAM</h3>
          <div class="row mt-4">
            <div class="col-lg-2">
              <a href="#"><img src="{% static 'images/wedding-cake.jpg' %}" alt="" height="200" width="200"></a>
            </div>
            <div class="col-lg-2">
              <a href="#"><img src="{% static 'images/lemon-raspberry-cake.jpg' %}" alt="" height="200" width="200"></a>
            </div>
            <div class="col-lg-2">
              <a href="#"><img src="{% static 'images/macaron-crown-cake.jpg' %}" alt="" height="200" width="200"></a>
            </div>
            <div class="col-lg-2">
              <a href="#"><img src="{% static 'images/caramel-crunch-cake.jpg' %}" alt="" height="200" width="200"></a>
            </div>
            <div class="col-lg-2">
              <a href="#"><img src="{% static 'images/cupcakes.jpg' %}" alt="" height="200" width="200"></a>
            </div>
            <div class="col-lg-2">
              <a href="#"><img src="{% static 'images/cotton-candy-cake.jpg' %}" alt="" height="200" width="200"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5" style="background-color: rgb(233, 221, 206);">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
          <div class="container">
            <div class="row mt-5">
              <a href="#">
                <h5 class="head7">CAKELY</h5>
              </a>
              <p class="p4">Delivering joy in Scaynes Hill with every slice. Our service offers a range of scrumptious
                cakes and treats, perfect for any occasion.
                Quick, reliable, and utterly delicious.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mt-5 pt-3">
          <p>123 High Street, <br>
            Scaynes Hill, <br>
            Haywards Heath <br>
            CB12 3PJ</p>
          <!-- <a href="#"> <i style='font-size:24px' class='fas'>&#xf87b;</i>
            0123456789</a> <br>
          <a href="#"><i style='font-size:24px' class='fas'>&#xf2b6;</i>
            hello@example.com</a> -->
        </div>
        <!-- <div class="col-lg-3 mt-5">
          <div class="row">
            <div class="col-lg-2">
              <a class="fb" href="#"><img src="facebook.webp" alt="" height="30" width="30"></a>
            </div>

            <div class="col-lg-2">
              <a class="wp" href="#"><img src="whatsapp.webp" alt="" height="30" width="30"></a>
            </div>
            <div class="col-lg-2">
              <a class="insta" href="#"><img src="insta.webp" alt="" height="30" width="30"></a>
            </div>
            <div class="col-lg-2">
              <a class="twitter" href=""><img src="twitter.webp" alt="" height="30" width="30"></a>
            </div>
            <div class="col-lg-2">
              <a class="messenger" href="#"><img src="Messenger.webp" alt="" height="30" width="30"></a>
            </div>
          </div>
          <div class="row mt-5 pt-3">
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Privacy & Cookies</a> -->
<!-- 
          </div>
        </div> -->

      </div>


    </div>
  </div>



</body>
<script type="text/js" src="{% static 'js/bootstrap.min.js' %}"></script>
</html>
