{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>Edgar Allan Poe</h1>
        <p>Edgar Allan Poe:Best known for his poems and short fictions.Edger Allen Poe,born in Baston,jan 
            19,1809,died oct 7,1849 in Baltimore.Poe was the son of the English-born actress Elizabeth 
            Arnold Poe and David Poe, Jr., an actor from Baltimore. After his mother died in Richmond,
             Virginia, in 1811, he was taken into the home of John Allan, a Richmond merchant (presumably 
             his godfather), and of his childless wife. He was later taken to Scotland and England 
             (1815–20), where he was given a classical education that was continued in Richmond. For 11 
             months in 1826 he attended the University of Virginia, but his gambling losses at the 
             university so incensed his guardian that he refused to let him continue, and Poe returned to 
             Richmond to find his sweetheart, (Sarah) Elmira Royster, engaged. He went to Boston, where 
             in 1827 he published a pamphlet of youthful Byronic poems, Tamerlane, and Other Poems. 
             Poverty forced him to join the army under the name of Edgar A. Perry, but, on the death of 
             Poe’s foster mother, John Allan purchased his release from the army and helped him get an 
             appointment to the U.S. Military Academy at West Point. Before going, Poe published a new 
             volume at Baltimore, Al Aaraaf, Tamerlane, and Minor Poems (1829). He successfully sought 
             expulsion from the academy, where he was absent from all drills and classes for a week. He 
             proceeded to New York City and brought out a volume of Poems, containing several masterpieces,
             some showing the influence of John Keats, Percy Bysshe Shelley, and Samuel Taylor Coleridge. 
             He then returned to Baltimore, where he began to write stories. In 1833 his “MS. Found in a 
             Bottle” won $50 from a Baltimore weekly, and by 1835 he was in Richmond as editor of the 
             Southern Literary Messenger. There he made a name as a critical reviewer and married his young 
             cousin Virginia Clemm, who was only 13. Poe seems to have been an affectionate husband and 
             son-in-law.Consider science-fiction writer Ray Bradbury's views on Edgar Allan Poe's “The Fall 
             of the House of Usher” </p>
    <p>Poe switched his focus to prose, and spent the next several years working for literary journals and
         periodicals, becoming known for his own style of literary criticism. His work forced him to move 
         between several cities, including Baltimore, Philadelphia, and New York City. In 1836, he married his 
         13-year-old cousin, Virginia Clemm, but she died of tuberculosis in 1847. In January 1845, he 
         published his poem "The Raven" to instant success. He planned for years to produce his own journal 
         The Penn, later renamed The Stylus. But before it began publishing, Poe died in Baltimore in 1849, 
         aged 40, under mysterious circumstances. The cause of his death remains unknown, and has been 
         variously attributed to many causes including disease, alcoholism, substance abuse, and suicide.</p>
         <a href="{% url 'about' %}">About</a>
</body>
</html>